---
import { Image } from 'astro:assets';
import Layout from "../../../layouts/Layout.astro"
import { getLangFromUrl, useTranslations, getStaticPaths } from '../../../i18n/utils';
export { getStaticPaths };

import adem from '../../../assets/adem_hartcirkel.jpeg'
import adem_rond from '../../../assets/rondevormen/adem_rond.png'
import bewustzijn from '../../../assets/bewustzijn.jpg'
import hart_rond from '../../../assets/rondevormen/hart_rond.png'
import lichaam_rond from '../../../assets/rondevormen/lichaam_rond.png'
import zon from '../../../assets/zon.jpg'

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title={t("hartcirkels.title")}>
    <section class="s1 back-gray text-align-center">
        <p class="text-red p2" set:html={t("hartcirkels.s1.title")}/>
        <p class="text-gray" set:html={t("hartcirkels.s1.text")}/>
    </section>
    <section class="s2 back-red text-align-center">
        <div class="circle-container">
            <h3 class="text-black" set:html={t("hartcirkels.s2.col1.title")}></h3>
            <p class="text-white" set:html={t("hartcirkels.s2.col1.text1")}/>
            <p class="text-white" set:html={t("hartcirkels.s2.col1.text2")}/>
            <p class="text-white" set:html={t("hartcirkels.s2.col1.text3")}/>
        </div>
        <div class="circle-container">
            <h3 class="text-black" set:html={t("hartcirkels.s2.col2.title")}></h3>
            <p class="text-white" set:html={t("hartcirkels.s2.col2.text1")}/>
            <p class="text-white" set:html={t("hartcirkels.s2.col2.text2")}/>
            <p class="text-white" set:html={t("hartcirkels.s2.col2.text3")}/>
        </div>
    </section>
    <section class="s3 back-gray text-align-center">
        <div class="circle-container">
            <h3 class="text-black" set:html={t("hartcirkels.s3.col1.title")}></h3>
            <p class="text-gray" set:html={t("hartcirkels.s3.col1.text1")}/>
            <p class="text-gray" set:html={t("hartcirkels.s3.col1.text2")}/>
            <p class="text-gray" set:html={t("hartcirkels.s3.col1.text3")}/>
            <p class="text-gray" set:html={t("hartcirkels.s3.col1.text4")}/>
        </div>
        <div class="circle-container">
            <h3 class="text-black" set:html={t("hartcirkels.s3.col2.title")}></h3>
            <p class="text-gray" set:html={t("hartcirkels.s3.col2.text1")}/>
            <p class="text-gray" set:html={t("hartcirkels.s3.col2.text2")}/>
            <p class="text-gray" set:html={t("hartcirkels.s3.col2.text3")}/>
        </div>
    </section>
    <section class="s4 back-white text-align-center text-red">
        <h1>{t("global.hartcirkels")}</h1>
    </section>
    <section class="s5 back-red text-white center">
        <div>
            <h1>{t("hartcirkels.s5.title")}</h1>
            <p>{t("hartcirkels.s5.text1")} <a href="www.hartcirkles.be" class="text-black">www.hartcirkels.be</a></p>
            <p>{t("hartcirkels.s5.text2")}</p>
            <p>{t("hartcirkels.s5.text3")}</p>
        </div>
    </section>
    <section class="s6 back-white text-gray center">
        <div class="container">
            <div class="header">
                <h1 class="text-red">{t("hartcirkels.s6.title")}</h1>
                <p>{t("hartcirkels.s6.text1")}</p>
            </div>
            <div class="child">
                <div>
                    <h2 class="text-red text-align-center">{t("hartcirkels.s6.e1.title")}</h2>
                    <ul>
                        <li set:html={t("hartcirkels.s6.e1.list1")}/>
                        <li set:html={t("hartcirkels.s6.e1.list2")}/>
                    </ul>
                </div>
                <Image class="img" src={adem_rond} width={375} height={375} alt="Tekening van adem"/> 
            </div>
            <div class="child">
                <div>
                    <h2 class="text-red text-align-center">{t("hartcirkels.s6.e2.title")}</h2>
                    <ul>
                        <li set:html={t("hartcirkels.s6.e2.list1")}/>
                        <li set:html={t("hartcirkels.s6.e2.list2")}/>
                    </ul>
                </div>
                <Image class="img" src={lichaam_rond} width={375} height={375} alt="meditatie"/> 
            </div>
            <div class="child">
                <div>
                    <h2 class="text-red text-align-center">{t("hartcirkels.s6.e3.title")}</h2>
                    <ul>
                        <li set:html={t("hartcirkels.s6.e3.list1")}/>
                        <li set:html={t("hartcirkels.s6.e3.list2")}/>
                    </ul>
                </div>
                <Image class="img" src={hart_rond} width={375} height={375} alt="meditatie"/> 
            </div>
            <div class="child">
                <div>
                    <h2 class="text-red text-align-center">{t("hartcirkels.s6.e4.title")}</h2>
                    <ul>
                        <li set:html={t("hartcirkels.s6.e4.list1")}/>
                        <li set:html={t("hartcirkels.s6.e4.list2")}/>
                    </ul>
                </div>
                <Image class="img" src={bewustzijn} width={375} height={375} alt="meditatie"/> 
            </div>
            <div class="child">
                <div>
                    <h2 class="text-red text-align-center">{t("hartcirkels.s6.e5.title")}</h2>
                    <ul>
                        <li set:html={t("hartcirkels.s6.e5.list1")}/>
                        <li set:html={t("hartcirkels.s6.e5.list2")}/>
                        <li set:html={t("hartcirkels.s6.e5.list3")}/>
                    </ul>
                </div>
                <Image class="img" src={adem} width={400} height={400} alt="meditatie"/> 
            </div>
            <div class="child">
                <div>
                    <h2 class="text-red text-align-center">{t("hartcirkels.s6.e6.title")}</h2>
                    <ul>
                        <li set:html={t("hartcirkels.s6.e6.list1")}/>
                    </ul>
                </div>
                <Image class="img" src={zon} width={400} height={400} alt="Tekening van de zon"/> 
            </div>
        </div>
    </section>
</Layout>

<style>
    section {
        padding: 2rem;
    }

    .img{
        width: 100%;
        max-width: 375px;
        border-radius: 0.5rem;
        height: auto;
    }
    .s3, .s2 {
        display: flex;
        flex-direction: row;
    }

    .s5 div{
        width: 50%;
    }
    .s6 {
        flex-direction: column;
    }
    .s6 .container{
        display: flex;
        flex-direction: column;
        width: 60%;
    }
    .s6 .child, .header{
        margin-bottom: 3rem;
    }
    .s6 .child{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
    }

    .circle-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url('../../../assets/cirkel.png'); 
    background-size: contain;
    width: 50%;
    background-repeat: no-repeat;
    background-position: center;
    aspect-ratio: 1 / 1; 
}

    /* Responsive */
    @media (max-width: 1400px){
        .s6 .child {
            grid-template-columns: 1fr;
            align-content: center;
            place-items: center;
        }

        .s6 .container{
            width: 100%;
        }

    }
</style>