---
interface Props {
    pathname: string
}
const {pathname} = Astro.props;
---

<nav>
    <a href={`${import.meta.env.BASE_URL}/`} class={pathname === "/Mooyo/" ? "text-red" : ""}>HOME</a>
    <a href={`${import.meta.env.BASE_URL}/filosofie`} class={pathname === "/Mooyo/filosofie" ? "text-red" : ""}>FILOSOFIE</a>
    <a href={`${import.meta.env.BASE_URL}/aanbod`} class={pathname === "/Mooyo/aanbod" ? "text-red" : ""}>AANBOD</a>
    <a href={`${import.meta.env.BASE_URL}/hartcirkels`} class={pathname === "/Mooyo/hartcirkels" ? "text-red" : ""}>HARTCIRKELS</a>
    <a href={`${import.meta.env.BASE_URL}/about`} class={pathname === "/Mooyo/about" ? "text-red" : ""}>OVER MIJ</a>
</nav>

<style>
    nav {
        display: flex;
        align-items: center;
        gap: 3rem;
    }
    a {
        padding: 0 0.7rem 0.5rem 0.7rem;
        display: inline-block;
        border-bottom: 1px solid white;
    }
    a:hover{
        transform: scale(1.2);
        border-color: var(--mooyo-red);
        transition: all 0.2s ease;
    }
</style>